<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Catalogue Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
  <h1 class="title">📦 Catalogue Manager </h1>

  
  <div id="msg" class="notification"></div>

  <nav class="navbar">
    <button class="add" onclick="showCreateForm()">➕ Add New Catalogue</button>
    <button class="view" onclick="fetchAllCatalogues()">📋 Get All Catalogues</button>
    <button class="viewid" onclick="promptViewById()">🔍 Get Catalogue by ID</button>
    <button id="homeBtn" class="home-btn" onclick="showHomeOptions()" style="display: none;">🏠 Home</button>
    <button onclick="location.href='/logout'" class="logout-btn">🚪 Logout</button>
  </nav>

  <div id="catalogueList" class="catalogue-output"></div>
</div>


<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
